@media (min-width: 1200px) 
{ 
	.signup
	{
		width: 100%;
		border: 5px solid white;
		min-height: 1000px;
		box-sizing: border-box;
		margin-bottom: 8px;
	}

	.signup-row
	{
		min-height: 1000px;
	}

	.signup-colom
	{
		margin: auto;
		width: 900px;
		border: 15px dotted white;
		padding: 0;
	}

	.signup-colom h1
	{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 30px;
		font-style: italic;
		color: #E62A3D;
		font-weight: bold;
		text-align: center;
	}

	hr
	{
		width: 100%;
		border-top: 15px dotted white;
	}

	.signup-colom p
	{
	    font-size: 17px;
	    font-style: italic;
	}

	.button-margin
	{
		margin-bottom: 40px;
		margin-left: 40px;
		margin-right: 40px;
	}

	.j-k-margin
	{
		margin-top: 32px;
	}

	.form-margin-atas
	{
		margin-top: 40px;
	}

	.bungkus-form
	{
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) 
{ 
	.signup
	{
		width: 100%;
		border: 5px solid white;
		min-height: 1000px;
		box-sizing: border-box;
		margin-bottom: 8px;
	}

	.signup-row
	{
		min-height: 1000px;
	}

	.signup-colom
	{
		margin: auto;
		width: 700px;
		border: 15px dotted white;
		padding: 0;
	}

	.signup-colom h1
	{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 24px;
		font-style: italic;
		color: #E62A3D;
		font-weight: bold;
		text-align: center;
	}

	hr
	{
		width: 100%;
		border-top: 15px dotted white;
	}

	.signup-colom p
	{
	    font-size: 17px;
	    font-style: italic;
	}

	.button-margin
	{
		margin-bottom: 35px;
		margin-left: 35px;
		margin-right: 35px;
	}

	.j-k-margin
	{
		margin-top: 32px;
	}

	.form-margin-atas
	{
		margin-top: 35px;
	}

	.bungkus-form
	{
		padding-left: 35px;
		padding-right: 35px;
	}

	label
	{
		font-size: 16px;
	}

	.form-control
	{
		height: 35px;
		font-size: 14px;
	}
}

@media (min-width: 768px) and (max-width: 991px) 
{ 
	.signup
	{
		width: 100%;
		border: 5px solid white;
		min-height: 1000px;
		box-sizing: border-box;
		margin-bottom: 8px;
	}

	.signup-row
	{
		min-height: 1000px;
	}

	.signup-colom
	{
		margin: auto;
		width: 600px;
		border: 10px dotted white;
		padding: 0;
	}

	.signup-colom h1
	{
		margin-top: 12px;
		margin-bottom: 12px;
		font-size: 22px;
		font-style: italic;
		color: #E62A3D;
		font-weight: bold;
		text-align: center;
	}

	hr
	{
		width: 100%;
		border-top: 10px dotted white;
	}

	.button-margin
	{
		margin-bottom: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.j-k-margin
	{
		margin-top: 30px;
	}

	.form-margin-atas
	{
		margin-top: 30px;
	}

	.bungkus-form
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	label
	{
		font-size: 15px;
	}

	.form-control
	{
		height: 32px;
		font-size: 13px;
	}
}

@media (min-width: 576px) and (max-width: 767px) 
{ 
	.signup
	{
		width: 100%;
		border: 5px solid white;
		min-height: 800px;
		box-sizing: border-box;
		margin-bottom: 8px;
	}

	.signup-row
	{
		margin: 6px;
		min-height: 830px;
	}

	.signup-colom
	{
		margin: auto;
		width: 550px;
		border: 7px dotted white;
		padding: 0;
	}

	.signup-colom h1
	{
		margin-top: 10px;
		margin-bottom: 8px;
		font-size: 18px;
		font-style: italic;
		color: #E62A3D;
		font-weight: bold;
		text-align: center;
	}

	hr
	{
		width: 100%;
		border-top: 7px dotted white;
	}

	.button-margin
	{
		margin-bottom: 15px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.j-k-margin
	{
		margin-top: 30px;
	}

	.form-margin-atas
	{
		margin-top: 15px;
	}

	.bungkus-form
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	label
	{
		font-size: 13px;
	}

	.form-control
	{
		height: 32px;
		font-size: 12px;
	}
}

/*@media (max-width: 575px) 
{ 

}*/
