@media (min-width: 1200px) 
{ 
	.footer-copyright
	{
	    width: 100%;
	    box-sizing: border-box;
	    background: rgba(230,42,61,0.5);
	}

	.footer-copyright h3
	{
	    font-size: 13px;
	    font-style: italic;
	    line-height:25px;
	    text-align: center;
	    margin: 0;
	    font-weight: bold;
	}

	.copyright-footer
	{
	    padding: 0;
	    margin: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) 
{ 
	.footer-copyright
	{
	    width: 100%;
	    box-sizing: border-box;
	    background: rgba(230,42,61,0.5);
	}

	.footer-copyright h3
	{
	    font-size: 12px;
	    font-style: italic;
	    line-height: 25px;
	    text-align: center;
	    margin: 0;
	    font-weight: bold;
	}

	.copyright-footer
	{
	    padding: 0;
	    margin: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) 
{ 
	.footer-copyright
	{
	    width: 100%;
	    box-sizing: border-box;
	    background: rgba(230,42,61,0.5);
	}

	.footer-copyright h3
	{
	    font-size: 11px;
	    font-style: italic;
	    line-height: 25px;
	    text-align: center;
	    margin: 0;
	    font-weight: bold;
	}

	.copyright-footer
	{
	    padding: 0;
	    margin: 0;
	}
}

@media (min-width: 576px) and (max-width: 767px) 
{ 
	 .footer-copyright
	{
	    width: 100%;
	    box-sizing: border-box;
	    background: rgba(230,42,61,0.5);
	}

	.footer-copyright h3
	{
	    font-size: 10px;
	    font-style: italic;
	    line-height: 20px;
	    text-align: center;
	    margin: 0;
	    font-weight: bold;
	}

	.copyright-footer
	{
	    padding: 0;
	    margin: 0;
	}
}

@media (max-width: 575px) 
{ 
	.footer-copyright
	{
	    width: 100%;
	    box-sizing: border-box;
	    background: rgba(230,42,61,0.5);
	}

	.footer-copyright h3
	{
	    font-size: 10px;
	    font-style: italic;
	    line-height: 20px;
	    text-align: center;
	    margin: 0;
	    font-weight: bold;
	}

	.copyright-footer
	{
	    padding: 0;
	    margin: 0;
	}
}
