@media (min-width: 1200px) 
{ 
	.home
	{
		width: 100%;
		height: 450px;
		border: 3px solid white;
		box-sizing: border-box;
		background-image: url(../img/home/isi1.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		margin-bottom: 8px;
	}

	.home img
	{
		width: 100%;
	}

	.home1
	{
	    width: 441px;
	    height: 200px;
	    margin: 100px;
	}

	.home1 h1
	{
	    font-size: 28px;
	    font-weight: bold;
	    color: #E62A3D;
	}

	.home1 p
	{
	    font-size: 18px;
	    font-style: italic;
	    font-weight: bold;
	}

	.readMore
	{
	    color: #E62A3D;
	    text-decoration: none;
	}
}

@media (min-width: 992px) and (max-width: 1199px) 
{ 
	.home
	{
		width: 100%;
		height: 500px;
		border: 3px solid white;
		box-sizing: border-box;
		background-image: url(../img/home/isi1.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat
	}

	.home img
	{
		width: 100%;
	}

	.home1
	{
	    width: 310px;
	    height: 150px;
	    margin: 80px;
	}

	.home1 h1
	{
	    font-size: 26px;
	    font-weight: bold;
	    color: #E62A3D;
	}

	.home1 p
	{
	    font-size: 16px;
	    font-style: italic;
	    font-weight: bold;
	}

	.readMore
	{
	    color: #E62A3D;
	    text-decoration: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) 
{ 
	.home
	{
		width: 100%;
		height: 400px;
		border: 3px solid white;
		box-sizing: border-box;
		background-image: url(../img/home/isi1.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat
	}

	.home img
	{
		width: 100%;
	}

	.home1
	{
	    width: 250px;
	    height: 100px;
	    margin: 60px;
	}

	.home1 h1
	{
	    font-size: 24px;
	    font-weight: bold;
	    color: #E62A3D;
	}

	.home1 p
	{
	    font-size: 14px;
	    font-style: italic;
	    font-weight: bold;
	}

	.readMore
	{
	    color: #E62A3D;
	    text-decoration: none;
	}
}

@media (min-width: 576px) and (max-width: 767px) 
{ 
	 .home
	{
		width: 100%;
		height: 300px;
		border: 3px solid white;
		box-sizing: border-box;
		background-image: url(../img/home/isi1.png);
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat
	}

	.home img
	{
		width: 100%;
	}

	.home1
	{
	    width: 200px;
	    height: 80px;
	    margin: 20px;
	}

	.home1 h1
	{
	    font-size: 22px;
	    font-weight: bold;
	    color: #E62A3D;
	}

	.home1 p
	{
	    font-size: 12px;
	    font-style: italic;
	    font-weight: bold;
	}

	.readMore
	{
	    color: #E62A3D;
	    text-decoration: none;
	}
}

/*@media (max-width: 575px) 
{ 

}*/
